<li class="product-mgt list-group-item d-flex justify-content-between align-items-center" data-id="{{id}}">
    {{product_name}}
    </span><div>
    <i class="edit-product-btn fas fa-edit fa-lg" data-id="{{id}}"></i>
    <i class="delete-product-btn fas fa-trash-alt fa-lg" data-id="{{id}}"></i>
    </div>
  </li>