<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/325ada46a1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/images/favicon.ico">
    <title>Wavves!</title>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6bf5c7;">
        <a class="navbar-brand" href="https://github.com/matteuc/wavves_pos">
            <img src="/assets/images/logo.png" class="img-fluid" alt="">
        </a>
    </nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a title="Point of Sale (POS)" class="nav-link active" href="/"><i class="fas fa-cash-register"></i></a>
        </li>
        <li class="nav-item">
            <a title="View & Edit Products" class="nav-link" href="/mgt_products"><i class="fas fa-boxes"></i></a>
        </li>
        <li class="nav-item">
            <a title="View Transactions" class="nav-link" href="/mgt_sales"><i
                    class="fas fa-file-invoice-dollar"></i></a>
        </li>

    </ul>
    <div class="container">
        {{{ body }}}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/pos.js"></script>
    <script src="/assets/js/mgt.js"></script>
</body>

</html>