<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    <script src="https://kit.fontawesome.com/325ada46a1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/images/favicon.ico">
    <title>wavves</title>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6bf5c7;">
        <a class="navbar-brand" href="https://github.com/matteuc/wavves_pos">
            <img src="/assets/images/logo.png" class="" alt="">
        </a>

    </nav>
    <ul id="dash_tabs" class="nav nav-tabs nav-justified" style="background-color: #6bf5c7;">
        <li class="nav-item">
            <a id="pos-tab" title="Point of Sale (POS)" class="nav-link" data-link="/"><i class="fas fa-cash-register fa-lg"></i></a>
        </li>
        <li class="nav-item">
            <a id="products-tab" title="View & Edit Products" class="nav-link" data-link="/products"><i class="fas fa-boxes fa-lg"></i></a>
        </li>
        <li class="nav-item">
            <a id="sales-tab" title="View Transactions" class="nav-link" data-link="/sales"><i
                    class="fas fa-file-invoice-dollar fa-lg"></i></a>
        </li>

    </ul>

    <div class="container" id="main-view">
        {{{ body }}}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/pos.js"></script>
    <script src="/assets/js/mgt.js"></script>
</body>

</html>