.navbar {
    position: relative;
    height: 70px;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -150px !important;  /* 50% of your logo width */
    display: block;
    padding-top: 0
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.nav-tabs .nav-link.active {
    background-color:  rgb(217, 250, 239);
    border-color: rgb(217, 250, 239);
}

.nav-tabs .nav-link.active:hover {
    background-color:  rgb(217, 250, 239);
    border-color: rgb(217, 250, 239);
}

.nav-tabs .nav-link:hover {
    border-color:  #6bf5c7;
    background-color:  #6bf5c7;

}

#dash_tabs {
    margin-bottom: 20px;

}

body {
    background-color: rgb(217, 250, 239);
}

a {
    color: white;
}

a:hover {
    color: black;
}

[data-link] {
    cursor: pointer;
  }


  /* POS DASH */
  #total {
      font-weight: bold;
  }
  #checkout-btn {
      margin-top: 10px;
  }
  #products, #cart {
      margin-top: 10px;
  }

  /* MGT DASH */
  .delete-product-btn {
      color: rgb(252, 69, 69);
      cursor: pointer;
  }

  .edit-product-btn {
      color: rgb(252, 188, 70);
      cursor: pointer;
  }

  #add-product-btn {
    color: #5ac9a4;
    cursor: pointer;
}

    label {
        font-weight: bold;
    }
